.header {
    margin-top: 1rem;
    .login {
        display: flex;
        justify-content: flex-end;
        margin: 0 -5px;
        & > div {
           margin: 0 5px; 
        }
        .login__btn {
            display: flex;
            align-items: flex-end;
            height: 100%;
        }
    }
    .logout {
        display: flex;
        justify-content: flex-end;
    }
}