<section class="container-fluid">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="login-container">
                <div class="row">
                    <div class="col-4">
                        <input id="username" name="username" placeholder="username">
                    </div>
                    <div class="col-4">
                        <input id="password" name="password" placeholder="Password">
                    </div>
                    <div class="col-4">
                        <div class="login-btn">
                            <a href="javascript:void(0)">Login
                                <i class="fa"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>