<section class="container house-detail">
    <div class="breadcrumb">
        asdas
    </div>
    <div class="content">
        <div class="house-number">
            <h2>adasdas</h2>
            <button>Create/ Update</button>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="houseNumber">House Number:</label>
                    <input class="form-control" type="text" id="houseNumber">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="houseNumber">House Number:</label>
                    <input class="form-control" type="text" id="houseNumber">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="houseNumber">House Number:</label>
                    <input class="form-control" type="text" id="houseNumber">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="houseNumber">House Number:</label>
                    <input class="form-control" type="text" id="houseNumber">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="houseNumber">House Number:</label>
                    <input class="form-control" type="text" id="houseNumber">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="houseNumber">House Number:</label>
                    <input class="form-control" type="text" id="houseNumber">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="houseNumber">House Number:</label>
                    <input class="form-control" type="text" id="houseNumber">
                </div>
            </div>
        </div>
    </div>
</section>